In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import gzip

In [49]:
Total_KE = pd.read_csv("Total_KE_ratio1_ratio1_2.csv")
Total_KE.head()

   Total_KE    ratio1  ratio1_2  Unnamed: 3
0   5.99726 -0.138855  0.861145         NaN
1   6.08850 -0.132065  0.867935         NaN
2   6.16021 -0.123209  0.876791         NaN
3   6.12924 -0.126581  0.873419         NaN
4   5.96973 -0.149302  0.850698         NaN

In [50]:
Total_KE.drop(columns = Total_KE.columns[-1], inplace = True)
Total_KE.head()

   Total_KE    ratio1  ratio1_2
0   5.99726 -0.138855  0.861145
1   6.08850 -0.132065  0.867935
2   6.16021 -0.123209  0.876791
3   6.12924 -0.126581  0.873419
4   5.96973 -0.149302  0.850698

In [51]:
Total_KE.shape[0]//18000

801

In [52]:
df = Total_KE

In [53]:
small_dfs = []

# Define the size of each smaller DataFrame
small_df_size = 18000

# Calculate the total number of smaller DataFrames needed
num_small_dfs = df.shape[0] // small_df_size

# Iterate over the range of total number of smaller DataFrames
for i in range(num_small_dfs):
    # Calculate the start and end indices for slicing
    start_idx = i * small_df_size
    end_idx = (i + 1) * small_df_size
    
    # Slice the original DataFrame to create the smaller DataFrame
    small_df = df.iloc[start_idx:end_idx, :].reset_index(drop=True)
    
    # Append the smaller DataFrame to the list
    small_dfs.append(small_df)

In [56]:
# Store the list of smaller DataFrames as a compressed pickle file
with gzip.open('Total_KE_ratio1_ratio_1_2.pkl.gz', 'wb') as f:
    pickle.dump(small_dfs, f)

In [57]:
# Load the list of smaller DataFrames from the compressed pickle file
with gzip.open('Total_KE_ratio1_ratio_1_2.pkl.gz', 'rb') as f:
    DF = pickle.load(f)

In [60]:
DF[110]

       Total_KE    ratio1  ratio1_2
0       6.09936 -0.124195  0.875805
1       6.06357 -0.135619  0.864381
2       5.65228 -0.195505  0.804495
3       5.28257 -0.247232  0.752768
4       5.33179 -0.240210  0.759790
...         ...       ...       ...
17995   9.43134  0.746113  1.746110
17996   9.76765  0.828630  1.828630
17997   9.82273  0.844259  1.844260
17998   9.70754  0.833026  1.833030
17999   9.35300  0.769849  1.769850

[18000 rows x 3 columns]